.dry-round-display {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  .dry-round-display-board-container {
    position: absolute;
    top: 112px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
